[data-theme='dark'] .modal_styles {
  background: #111b1e;
}

.modal_styles {
  background: #fff;
}

.bg {
  background: #111b1e05;
}

.logo {
  width: 80%;
  min-width: 60%;
}

.btn_sigup {
  background: #e26400;
  border-radius: 50px;
  padding: 10px 5px;
  width: 100%;
  color: #fff;
}

[data-theme='dark'] .create_compte_btn {
  background: #ffffff07;
  color: #fff;
}

.create_compte_btn {
  padding: 10px 5px;
  width: 100%;
  background: #111b1e1e;
  color: #111b1e;
  border-radius: 50px;
}
