[data-theme='dark'] .btn_home:hover {
  background: rgba(250, 251, 252, 0.03);
}

.btn_home {
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
.btn_home:hover {
  background: #111b1e3b;
}

[data-theme='dark'] .footer_main {
  background: rgba(250, 251, 252, 0.03);
}

.footer_main {
  background: #111b1e1a;
}

[data-theme='dark'] .btn_home1 {
  background: rgba(250, 251, 252, 0.03);
}

.btn_home1 {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background: #111b1e1a;
  align-items: center;
  align-content: center;
  justify-content: center;
}
