.nav_styles {
  background: rgba(255, 255, 255, 0.02);
  padding: 1rem 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

[data-theme='dark'] .category_banner_bg {
  background: rgba(255, 255, 255, 0.02);
}

.category_banner_bg {
  background: #111b1e05;
}

[data-theme='dark'] .category_description_bg {
  background: rgba(255, 255, 255, 0.02);
  border-top: 2px solid #ffffff3d;
}

.category_description_bg {
  background: #111b1e05;
  border-top: 2px solid #111b1e10;
}

.active {
  color: #e26400;
}

.active::after {
  height: 3px;
  width: auto;
  background: #e26400;
  position: relative;
}
